### Forth script - normalize the counts by the number of days in a month

In [18]:
# Libraries for parsing data
from lxml import etree
from bs4 import BeautifulSoup
import pandas as pd
import os

# Library for plotting data
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv('/home/ec2-user/SageMaker/data/2023-06-18-export_newsample/2023-06-22-newsample_3_rawcount.csv')

In [20]:
df['yearmonth'] = df[['year','month']].apply(lambda x: '-'.join(x.values.astype(str)), axis='columns')
df['yearmonth'] = pd.to_datetime(df['yearmonth'])
df = df.set_index(df['yearmonth'])
df = df.drop(['year','month','yearmonth'], axis='columns')
df = df.sort_index()

In [21]:
df

            count
yearmonth
1851-10-01      1
1853-07-01      1
1855-10-01      1
1866-04-01      1
1879-04-01      1
...           ...
2019-08-01      8
2019-09-01     14
2019-10-01      7
2019-11-01      5
2019-12-01      3

[1111 rows x 1 columns]

In [22]:
df['nb_days'] = df.index + pd.DateOffset(months=1) - df.index
df['normalized_by_days'] = df['count']/df['nb_days'].dt.days
df = df['normalized_by_days']

In [23]:
df

yearmonth
1851-10-01    0.032258
1853-07-01    0.032258
1855-10-01    0.032258
1866-04-01    0.033333
1879-04-01    0.033333
                ...
2019-08-01    0.258065
2019-09-01    0.466667
2019-10-01    0.225806
2019-11-01    0.166667
2019-12-01    0.096774
Name: normalized_by_days, Length: 1111, dtype: float64

In [24]:
df.to_csv("/home/ec2-user/SageMaker/data/2023-06-18-export_newsample/2023-06-22-newsample_3_bydays.csv")